.header {
    width: 85%;
    margin: auto;
    padding-top: 22px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
            width: 185px;
            left: 120px;
            top: 56px;
            cursor: pointer;
        }
        &--link {
            background-color: $color-principal;
            justify-content: center;
            width: 120px;
            height: 42px;
            font-family: $Fuente1;
            border-radius: 20px;
            color: $color-blanco;
            font-weight: 600;
            font-size: 18px;
            display: flex;
            align-items: center;
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
        }

        &--link:hover {
            transform: translateY(-7px);
            transition: all .2s ease-in-out;
        }

        &--burger {
            display: none;
        }
    }
}

@media all and (max-width: 1024px) {

    .header {

        &__container {
        
            &--logo {
                width: 170px;
            }
        
            &--link {
                font-size: 16px;
                width: 115px;
                height: 40px;
            }
            
        }

    }

}

@media all and (max-width: 768px) {

    .header {

        &__container {

            &--link {
                font-size: 15px;
                width: 110px;
                height: 34px;
            }

        }

    }

}

@media all and (max-width: 414px) {

    .header {

        &__container {

            &--logo {
                width: 145px;
            }

            &--link {
                display: none;
            }

            &--burger {
                display: block;
                width: 37px;
                padding-top: 1px;
                cursor: pointer;
            }

        }

    }

}

@media all and (max-width: 375px) {

    .header {

        padding-top: 23px;

        &__container {

            &--logo {
                width: 135px;
            }

            &--link {
                display: none;
            }

            &--burger {
                display: block;
                width: 35px;
            }

        }

    }

}
