.suscribe {

    &--title {
        font-family: $Fuente1;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        color: $color-texto1;
    }

    &--text {
        font-family: $Fuente2;
        font-size: 26px;
        line-height: 40px;
        text-align: center;
        color: $color-texto1;
        width: 551px;
height: 79px;
left: 455px;
top: 4679px;
    }

}